/* Custom CSS for hover effect */
.nav-link:hover {
  background-color: #8dc5fd !important;
  border-radius: 4px;
}

/* Ensure the content shifts when the navbar is shown */
.content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.shifted {
  margin-left: 250px;
}

.fullnav{
  background-color: #f8f9fa;
  border: #8dc5fd 1px solid;
  border-radius: 20px;
}